<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>title</th>
                <th>author</th>
                <th>price</th>
            </tr>
            <tr ng-repeat="book in $ctrl.books">
                <td>{{$index + 1}}</td>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>{{book.price|currency: '$&nbsp'}}</td>
            </tr>
        </table>
    </div>
</div>