<div>
    <form class="form-inline"
          name="bookSearch"
          ng-submit="$ctrl.onSubmit(bookSearch)">

        <div class="form-group"
             sf-schema="$ctrl.schema" sf-form="$ctrl.form" sf-model="$ctrl.model"
             sf-options="$ctrl.formOptions"></div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit">
                Search
            </button>
        </div>
        <div class="form-group">
            <button class="btn btn-default" ng-click="$ctrl.showAll()">
                Show All
            </button>
        </div>
    </form>
</div>
